.login {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #e5e5e5;
}

.login-wrap {
  padding: 50px 50px 0;
  background-color: #ffffff;
  border-radius: 10px;
  position: absolute;
  right: 50px;
  bottom: 20%;
  min-width: 500px;
}
