.page-loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

html, body, #root {
    height: 100%;
    overflow: hidden;
}

#root {
    min-width: 1200px;
    user-select: none;
}

:where(.css-dev-only-do-not-override-98ntnt).ant-btn:not(:disabled):focus-visible {
    outline: none;
}
