.page-loading {
  position: fixed;
  inset: 0;
  background: #f3f5fa;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  font-size: 40px;
  font-family: zitiquan, serif;
  letter-spacing: 10px;
  li {
    list-style: none;
  }
}
