.animation-wrap {
  width: 100%;
  overflow: hidden;
}

.animation-content {
  width: 200%;
  height: 100%;
  display: flex;
  transition: transform 0.3s ease;

  > div {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
}

.animation {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.add-buttons {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 10px;

  :global {
    .ant-btn {
      height: 40px;
      flex: 1;

      &:nth-child(2) {
        margin-left: 10px;
      }
    }
  }
}

.animation-list-wrap {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.animation-list {
  padding: 10px 0;
}

.animation-item {

}

.animation-item-title {
  height: 40px;
  background: #f1f5f9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 10px;

  > div:nth-child(1) {
    display: flex;
    align-items: center;

    span:nth-child(1) {
      font-weight: bold;
      font-size: 14px;
      color: #333333;
    }

    span:nth-child(2) {
      margin-left: 10px;
      display: flex;
      justify-content: space-between;
      padding: 0 4px 0 8px;
      box-sizing: border-box;
      align-items: center;
      cursor: pointer;
      max-width: 100px;
      width: 80px;
      height: 24px;
      line-height: 24px;
      color: #666;
      float: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      background: #fff;
      border-radius: 60px;
      border: none;

      i {
        font-size: 12px;
        font-style: normal;
      }

      img {
        width: 15px;
        height: 15px;

        &:nth-child(3) {
          display: none;
        }
      }

      &:hover {
        background: #1261ff;
        color: #ffffff;

        img:nth-child(2) {
          display: none;
        }

        img:nth-child(3) {
          display: inline;
        }
      }
    }
  }

  > div:nth-child(2) {
    display: flex;
    align-items: center;

    span {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      cursor: pointer;

      img {
        width: 20px;
        height: 20px;

        &:nth-child(2) {
          display: none;
        }
      }

      &:hover {
        background: #1261ff;

        img:nth-child(1) {
          display: none;
        }

        img:nth-child(2) {
          display: inline;
        }
      }
    }
  }
}

.inputItem {
  padding: 0 10px;
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;

  > div {
    display: flex;
    align-items: center;
    width: 115px;

    > span {
      margin-right: 5px;
      flex-shrink: 0;
      font-size: 14px;
    }

    span {
      flex-shrink: 0;
      font-size: 14px;
    }
  }

  .loop-button {
    flex-shrink: 0;
    border: solid 1px #d9d9d9;
    border-radius: 6px;
    padding: 0 11px;
    transition: all 0.2s;

    :global {
      .ant-checkbox {
        margin-right: 0;
      }
    }

    &:hover {
      border-color: #1261ff;
    }
  }
}


.animation-select {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.animation-select-back {
  flex-shrink: 0;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 5px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);

  span {
    color: #333333;
    font-size: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
      width: 14px;
      height: 14px;
    }

    img:nth-child(2) {
      display: none;
    }

    &:hover {
      color: #1261ff;

      img {
        &:nth-child(1) {
          display: none;
        }

        &:nth-child(2) {
          display: inline;
        }
      }
    }
  }
}

.animation-select-list-wrap {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.animation-select-list {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

  > div {
    cursor: pointer;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 45px;
      height: 45px;
    }

    img:nth-child(2) {
      display: none;
    }

    span {
      margin-top: 5px;
      color: rgb(118, 131, 143);
      font-size: 14px;
    }

    &:hover {
      span {
        color: #1261ff;
      }

      img {
        &:nth-child(1) {
          display: none;
        }

        &:nth-child(2) {
          display: inline;
        }
      }
    }
  }
}
